{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question and Answer Platform</title>

    <meta name="description" content="A platform for talking about programming.">
    <meta name="keywords", content="C, C++, C#, Go, Python, MQL, HTML, CSS, JavaScript">

    <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <div class="nav-bar-left">
                <li><a href="{% url 'blog:index' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
            </div>
            <div class="nav-bar-right">
                <li><a href="#">Login</a></li>
                <li><a href="{% url 'user:register' %}">Register</a></li>
            </div>               
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>