{% extends "project/base.html" %}
{% block content %}
    {% if questions_list %}
        <ul>
            {% for question in questions_list %}
                {% with answers=question.answer_set %}
                    <li>
                        <h2>{{ question.title }}</h2>
                        <p>asked by <strong>{{ question.author }}</strong> on {{ question.published|date:"F d, Y - H:i"}}</p>
                        <p>
                            {% if answers.count %}
                                has {{ answers.count }} answer{{ answers.count|pluralize }} given by:
                                {% for answer in answers.all %}
                                    {% if forloop.counter == answers.all.count %}
                                        <em>{{ answer.author.username }}</em>
                                    {% else %}
                                        <em>{{ answer.author.username }}</em>,
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                has 0 answers
                            {% endif %}
                        </p>
                    </li>
                    <hr>
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>No questions are available.</strong></p>
    {% endif %}
{% endblock content %}